name: Mirror to Forgejo

on:
  push:
    branches: ['**']
    tags: ['**']
  delete:
    branches: ['**']
    tags: ['**']

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Forgejo
        run: |
          git remote add forgejo https://${{ secrets.FORGEJO_USERNAME }}:${{ secrets.FORGEJO_TOKEN }}@YOUR-FORGEJO-DOMAIN/ORG-OR-USER/genius365.git
          git push forgejo --all --force
          git push forgejo --tags --force
